
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400;700&display=swap');
body{
    background-color: rgb(30, 30, 30);
    
}

*{
    font-family: 'Sarabun', sans-serif;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    
}

.header-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.slider{  
    position: absolute;
    display: flex;
    width: 100%;
    overflow: hidden;
    opacity: 0.5;

}

.slides{
    display: flex;
    height: 850px;   
    margin-left: -40px;
}

.slide{
    list-style-type: none;
    height: 850px;
}


.nav-container{
    opacity: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 5;
}

.nav-container ul{
    display: flex;
    list-style-type: none;
    margin: 20px;
    padding-inline-start: 0;
    flex-wrap: wrap;
    position: fixed;
}


.nav-header-right{
    right: 10px;
}


.nav-container li{
    margin: 0px 25px;
    padding: 0px 20px;
    cursor: pointer;
    padding: 0px;
}

.nav-container a {
    text-decoration: none;
    font-size: 1rem;
}

.nav-container li:hover{
    text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(255,255,255,0.8),0 -4px 15px rgba(255,255,255,0.5);
  }

  .diff-navbar{
    width: 100%;
    height: 90px;
    z-index: 1;
    position: fixed;
    padding-bottom: 15px;
    background: rgb(30, 30, 30);
    background:linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(30,30,30,1) 53%, rgba(30,30,30,0.7) 63%, rgba(30,30,30,0.4) 74%,  rgba(30,30,30,0) 95%, rgba(30,30,30,0) 100%);
  }

.theme-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

h1{
    opacity: 0;
    transform: translateY(-30px);
    font-weight: 700;
    font-size: 2.5rem;
    margin: 20px 0px 5px 0px;
    letter-spacing: 1px;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 600ms;
}

header p {
    opacity: 0;
    font-weight: 400;
    font-size: 1.6rem;
}

.theme-container a{
    opacity: 0;
    background-color: honeydew;
    border: none;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    font-weight: 700;
    margin: 20px 0px;
    cursor: pointer;
    border-radius: 20px;
}


.circle-img{
    border-radius: 50%;
    height: 0px;
    width: 0px;
    background-color: aliceblue;   
    background-image: url(./img/img1.jpg); 
    background-size: cover;
    border: solid white 2px;
  }

  .diff-portrait{
    width: 100%;
    height: 850px;
    z-index: 1;
    position: absolute;
    background: rgb(30, 30, 30);
    background: linear-gradient( rgba(30, 30, 30,1) 0%, rgba(30, 30, 30,0) 30%, rgba(30, 30, 30,0) 70%, rgba(30, 30, 30,1) 100%);
  }

  .about-me-container{
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 100%;
      padding-top: 60px;
      margin: 30px;
    }

  .about-me-img-text{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 20px;
      align-items: center;
      flex-wrap: wrap;
  }


 .about-me-img-text p {
     width: 600px;
     margin: 20px;
     line-height: 40px;
     font-size: 1.3rem;
 }



 .about-me-img-text img{
     width: 500px;
     margin: 20px;
 }

  h2{
      font-size: 1.8rem;
      font-weight: 600;
      
  }

  main{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 30px;

  }

  .filter-category::before {
    content: "/";
    margin-right: 20px ;
}

  .main-category{
      display: flex;
      justify-content: center;  
      margin: 40px;
      flex-wrap: wrap;   
  }

  .main-category li{
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style-type: none;
    padding: 5px 20px;
  }

  .main-category li:hover {
    color: #000;
    background: #fff;
    transition: all 1s ease;
}

.main-category li.active {
    color: #000;
    background: #fff;
}

  .main-gallery{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80%;
      margin: 40px;
      }

  .main-gallery img{
      max-height: 300px;
      max-width: 400px;
      margin: 10px;
  }

  .main-gallery a:hover {
    opacity: 0.5;
}


footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    height: 100%;
}

.form{
    display: flex;
    margin: 30px;
    justify-content: center;
    text-align: end;
    align-items: flex-end;
}

.form input {
    color: black;
}

.form-subject :first-child{
    margin-top: 0px;
}

.form-subject div{
    font-size: 1rem;
    margin-top: 20px;
}

textarea{
    width: 500px;
    height: 170px;
    margin-left: 40px;
    margin-top: 22px;
    color: black;
}

.info {    
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: start;
    align-items: center;
    margin: 40px;
}

.info button{
    align-self: flex-start;
    margin-left: 30px;
    background-color: rgba(50, 50, 50);
    color: white;
    border: none;
    padding: 10px 20px;
}
.mail{
    display: flex;
    margin: 20px 0px;
}


.cell{
    display: flex;
}

.mail::before{
    display: inline-block;
    content: url(./img/mail.svg);
    width: 30px;   
    margin: 0px 30px;
   
}

.cell::before{
    display: inline-block;
    content: url(./img/smartphone.svg);
    width: 30px;   
    margin: 0px 30px;
}

.info img{
    height: 20px;
    margin-bottom: 0;
    fill: white;
}

.sign , a{
    font-size: 0.7rem;
    color: seashell;
}



/*--------------ANIMATIONS--------------*/

@keyframes fadeIn {
    from{
    transform: translateY(-30px);
    opacity: 0;

    }
    to{
    transform: translateY(0px);
    opacity: 1;
    }
}




